/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#anchor {
	-fx-background-color: white;
}

#empleado {
	-fx-font-style: italic;
	-fx-font-family: Arial;
}

#salir {
	-fx-background-color: red;
	-fx-font-weight: bold;
}
